body {
    background: url("slike/blank-light-blue-paper-texture-background2.jpg");
    background-color: rgb(245, 245, 245);
}
.navbar-brand {
    padding: 0 0 0 0;
}
.navbar-expand-lg {
    padding: 0 0 0 0;
}
.nav-item{
    padding: 4px;
    height: 50px;
    min-width: 120px;
    text-align: center;
    font-size: 18px;
}
.nav-item:hover {
    background-color: rgb(174, 180, 183, 0.5);
}

.active {
    background-color: black;
}

.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}

.table-hover> tbody> tr:hover{
    background-color: rgba(0, 115, 240, 0.2);
}
table.table-bordered{
    border:1px solid rgba(0, 115, 240, 0.5);
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid rgba(0, 115, 240, 0.5);
    background-color: rgba(0, 115, 240, 0.4);
}
table.table-bordered > tbody > tr > td{
    border:1px solid rgba(0, 115, 240, 0.5);
}
.ro{
    border: none; 
    background-color: transparent; 
    outline:none;
    background:none;  
    color: black;

    display:table-cell; 
    width:100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



@font-face {
font-family: 'icomoon';
src:  url('fonts/icomoon.eot?gakdaz');
src:  url('fonts/icomoon.eot?gakdaz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gakdaz') format('truetype'),
    url('fonts/icomoon.woff?gakdaz') format('woff'),
    url('fonts/icomoon.svg?gakdaz#icomoon') format('svg');
font-weight: bold;
font-style: bold;
font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important;

font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 0;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-table:before {
content: "\ea70";
}




